<div>
    <%= link_to vaccination_log.vaccination_date , vaccination_log_path(vaccination_log.id), method: :get %>
    <%= "マイナンバー:#{vaccination_log.my_number} "%>
    <%= "メーカー:#{vaccination_log.manufacturer}" %>
    <%= "ロット番号:#{vaccination_log.lot_number}" %>
    <%= "接種回数:#{vaccination_log.vaccination_times}" %>
    by <%= vaccination_log.medical_user.name %>
</div>