<% @vaccination_logs.each do |vaccination_log| %>
  <% if vaccination_log.my_number == current_user.my_number %>
    <div class="container">
      <div class="row justify-content-md-center pt-5">
        <div class="col-md-auto">
          <div>回数</div>
          <div ><%= vaccination_log.vaccination_times %></div>
        </div>
        <div class="col-md-auto">
          <div>マイナンバー</div>
          <div><%= vaccination_log.my_number %></div>
        </div>
        <div class="col-md-auto">
          <div>メーカー</div>
          <div><%= vaccination_log.manufacturer %></div>
        </div>
        <div class="col-md-auto">
          <div>製造番号</div>
          <div><%= vaccination_log.lot_number %></div>
        </div>
        <div class="col-md-auto">
          <div>接種日</div>
          <div><%= vaccination_log.vaccination_date %></div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>